.card-container {
    margin-top: 6em;
    margin-bottom: 6em;
}

.card-style {
    font-weight: 300;
}

.card-style a {
    text-decoration: none;
    color: rgb(33, 33, 33);
}

.card-style a:hover {
    text-decoration: none;
    color: rgb(145, 145, 145);
}
