/* BODY CSS STYLES, SEE LAYOUT.JS */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300;400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

div {
    background-color: white;
    color: rgb(34, 34, 34);
  }

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(33, 33, 33);
}

a:hover {
  text-decoration: none;
  color: rgb(145, 145, 145);
}