/* JUMBO BANNER CSS STYLES, SEE JUMBOTRON.JS */

.jumbo-footer {
    margin-bottom: 0px;
    background-color: hotpink;
}

.inner-footer {
    padding: 6em;
    color: white;
    align-items: center;
    background-color: hotpink;
}

.inner-footer h3 {
    font-family: 'Abril Fatface';
    padding-bottom: 6px;
}

#social-footer {
    color: white;
    background-color: hotpink;
    text-decoration: none;
}

#social-footer a {
    color: white;
    background-color: inherit;
    text-decoration: none;
}

#social-footer a:visited {
    color: white;
    background-color: inherit;
    text-decoration: none;
}

#social-footer a:hover {
    color: black;
    background-color: inherit;
    text-decoration: none;
}
