/* NAV CSS STYLES, SEE NAV.JS */

.nav-alt {
  padding-top: 4px;
  text-transform: none;
  font-size: 1rem;
  background: white;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav-alt h3 {
  font-family: 'Abril Fatface', cursive;
  color: rgb(15, 15, 15);
}